:root {
    --bg: rgb(20, 92, 187);
    --text: white;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text)
}

a {
    text-decoration: none;
    color: inherit;
}

.container{
    background-color: rebeccapurple;
    width:  100vw;
    margin: auto;
    padding: 0 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}