.container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}